*{
    box-sizing: border-box;
}

:root{
    --button-text-color:brown;
}

body{
    display: flex;
    background-image: url('./Craps-Table-at-a-Casino.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 930px;
    color: azure;
    justify-content: center
    ;
   }
   main{
       height: fit-content;
       
       
   }

   label{
       font-size: 40px;
   }

   #show, #roll, #reset{
       color:var(--button-text-color);
       font-size: 13px;
   }
   #total, #showButton{
       display: flex;
       justify-content: center;
   }
   #show{
       height: fit-content;
   }
  li{
      border: solid 3px rgb(70, 24, 24);
      border-right:solid 2px red;
      border-top:solid 18px red;
      border-radius: 2px;
      margin: 5px;
      padding: 5px;
      padding-left: 8px;
      padding-top: 10px;
      padding-right: 20px;
      width: 30px;
      background-color:rgb(136, 46, 14);
      
  }








